.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: #fff;
  width: 550px;
  max-height: 90vh;
  padding: 20px;
  border-radius: 14px;
  overflow-y: auto;
  animation: fadeScale 0.25s ease;
  box-shadow: 0px 6px 25px rgba(0,0,0,0.2);
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.preview-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.tag-chip {
  background: #ddd;
  padding: 6px 12px;
  border-radius: 12px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
}

.tag-remove {
  margin-left: 8px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.publish-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
