.auth-bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom right, #eef2f7, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-card h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}

.input-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 13px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.auth-btn:hover {
  background: #333;
}

.link {
  display: block;
  margin-top: 15px;
  color: purple;
  font-size: 15px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
